<div class="banner" style="background-image: url('<%= image_path("carsbanner.jpg") %>')">
  <div>
  <div class="container">
    <h1><strong>Awesome Garage</strong></h1>
    <p>Your personal garage with the cars of your dreams</p>
    <div class="button-container">
    <%= link_to 'Enter', cars_path, class: "btn btn-flat" %>
  </div>
</div>
