<h1>List of all Cars</h1>

<% @cars.each do |car| %>
<h2><%= car.brand %></h2>
<h3><%= car.model %></h3>
<p><%= car.created_at.strftime('%b %e, %l:%M %p') %></p>
<p><%= car.owner.nickname %></p>
<hr>
<% end %>
